.mainWrapper {
  background-color: #1f1f1f;
  display: flex;
  align-items: stretch;
  height: 100%;
  border-radius: 50px;
}

.sidebar {
  width: 120px;
  border-radius: 0 50px 50px 0;

  background-color: #1f1f1f;
}

.mainContainer {
  flex: 1;
  background-color: #ffffff;
  margin: 30px 30px;
  border-radius: 45px;
}
